.toolbar {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  @media (min-width: 640px) {
    display: none;
  }
}

.navigationButtons {
  display: none;
  gap: 10px;

  @media (min-width: 640px) {
    display: flex;
  }
}

.navigationList {
  width: 250px;
}

.navigationItem {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
